.button {
  position: relative;
  width: 30%;
  flex: 1 1 30%;
  font: inherit;
  text-align: center;
  padding: .25rem 0;
  margin: .125rem;
  border: 1px solid #8b005d;
  color: white;
  background: #8b005d;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  border-radius: 5px;
}

.button::before {
  content: "";
  float: left;
  padding-top: 50%;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #ac0e77;
  border-color: #ac0e77;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

@media (min-width: 768px) {
  .button {
    width: 30%;
  }
}
